<div class="container">
    <div class="edit-specification-border">
        <div class="header-background">
            <span>Edit Specification</span>
        </div>
        <form #form="ngForm" (ngSubmit)="editSpecification(form)">
            <div class="edit-specification-prop">
                <label for="name">Specification name<span class="red">*</span></label>
                <input type="text" name="name" id="name" ngModel="{{specification.name}}" #inputSpecificationName="ngModel" required>

                <ng-container>
                    <p class="error" *ngIf="inputSpecificationName.errors?.['required']">
                        Specification name is required.
                    </p>
                </ng-container>

            </div>
            <div class="edit-specification-prop">
                <label for="imageUrl">Image Url<span class="red">*</span></label>
                <input type="text" name="imageUrl" id="imageUrl" ngModel="{{specification.imageUrl}}" #inputSpecificationImageUrl="ngModel" required [appImageUrl]="imageURLRegEx">
                <ng-container>
                    <p class="error" *ngIf="inputSpecificationImageUrl.errors?.['required']">
                        Image Url is required.
                    </p>
                    <p class="error" *ngIf="inputSpecificationImageUrl.errors?.['imageValidator']">
                        Image Url must be valid.
                    </p>
                </ng-container>
            </div>
            <div class="edit-specification-prop">
                <label for="weight">Specification weight<span class="red">*</span></label>
                <input type="number" name="weight" id="weight" ngModel="{{specification.weight}}" #inputSpecificationWeight="ngModel" required>

                <ng-container>
                    <p class="error" *ngIf="inputSpecificationWeight.errors?.['required']">
                        Specification weight is required.
                    </p>
                </ng-container>

            </div>
            <div class="edit-specification-prop">
                <label for="power">Specification power<span class="red">*</span></label>
                <input type="number" name="power" id="power" ngModel="{{specification.power}}" #inputSpecificationPower="ngModel" required>

                <ng-container>
                    <p class="error" *ngIf="inputSpecificationPower.errors?.['required']">
                        Specification power is required.
                    </p>
                </ng-container>

            </div>
            <div class="edit-specification-prop">
                <label for="torque">Specification torque<span class="red">*</span></label>
                <input type="number" name="torque" id="torque" ngModel="{{specification.torque}}" #inputSpecificationTorque="ngModel" required>

                <ng-container>
                    <p class="error" *ngIf="inputSpecificationTorque.errors?.['required']">
                        Specification torque is required.
                    </p>
                </ng-container>

            </div>

            <div class="edit-specification-prop">
                <label for="engineType">Specification engine type<span class="red">*</span></label>
                <input type="text" name="engineType" id="engineType" ngModel="{{specification.engineType}}" #inputSpecificationEngineType="ngModel" required>

                <ng-container>
                    <p class="error" *ngIf="inputSpecificationEngineType.errors?.['required']">
                        Specification engine type is required.
                    </p>
                </ng-container>

            </div>

            <div class="edit-specification-prop">
                <label for="transmission">Specification transmission<span class="red">*</span></label>
                <input type="text" name="transmission" id="transmission" ngModel="{{specification.transmission}}" #inputSpecificationTransmission="ngModel" required>

                <ng-container>
                    <p class="error" *ngIf="inputSpecificationTransmission.errors?.['required']">
                        Specification transmission is required.
                    </p>
                </ng-container>

            </div>
            <div class="edit-specification-buttons">
                <button [disabled]="form.invalid">Edit</button>
            </div>
        </form>
    </div>
</div>