<main>
    <div class="loader" *ngIf="isLoading">
        <app-loader />
    </div>
    <div *ngIf="!isLoading && brands" class="title">    
        <div class="noData" *ngIf="brands.length == 0">
            <h1>There are no brands yet!</h1>
        </div>   
        <div *ngFor="let brand of brands" class="container">
            <div class="name-wrapper">
                <div class="brand-item">
                    <div [routerLink]="brand._id">
                        <h2 class="brandLink">{{brand.name}}</h2>
                    </div>
                    <div>
                        <img class="image" src="{{brand.imageUrl}}">
                    </div>
                    <div>
                        <h2>Last Edited by: {{brand.userId.username}}</h2>
                        <h5>Account created {{brand.userId.created_at | accountAge}}!</h5>
                    </div>
                    <div class="brand-buttons">
                        <button routerLink='/models/{{brand._id}}/add-model'>Add model</button>
                        <button [routerLink]="[brand._id, 'edit']">Edit</button>
                        <button (click)="delete(brand._id)" class="delete-btn">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>