<main>
    <div class="loader" *ngIf="isLoading">
        <app-loader />
    </div>
    <div *ngIf="!isLoading && brands" class="title">    
        <div class="noData" *ngIf="brands.length == 0">
            <h1>There are no brands yet!</h1>
        </div>   
        <div *ngFor="let brand of brands" class="container">
            <a [routerLink]="brand._id" class="name-wrapper">
                <div class="name">
                    <div class="normal">
                        <h2>{{brand.name}}</h2>
                    </div>
                    <div>
                        <img class="image" src="{{brand.imageUrl}}">
                    </div>
                    <div>
                        <h2>Last Edited by: {{brand.userId.username}}</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>