<div class="container">
    <div class="new-brand-border">
        <div class="header-background">
            <span>New Brand</span>
        </div>
        <form>
            <div class="new-brand-name">
                <label for="name">Brand name<span class="red">*</span></label>
                <input type="text" name="name" id="name">
                <p class="error">
                    Brand name is required.
                </p>
                <p class="error">
                    Brand name must be at least 5 characters long.
                </p>
            </div>
            <div class="new-brand-image">
                <label for="imageUrl">Image Url<span class="red">*</span></label>
                <input type="text" name="imageUrl" id="imageUrl">
                <p class="error">
                    Image Url is required.
                </p>
                <p class="error">
                    Image Url must be at least 10 characters long.
                </p>
            </div>
            <div class="new-brand-buttons">
                <button class="cancel">Cancel</button>
                <button class="public">Create</button>
            </div>

        </form>
    </div>
</div>