<main>
    <div class="loader" *ngIf="isLoading">
        <app-loader />
    </div>
    <div *ngIf="!isLoading && brand" class="title">    
        <div class="noData" *ngIf="brand.models.length == 0">
            <h1>There are no models yet!</h1>
        </div>   
        <div *ngFor="let model of brand.models" class="container">
            <div class="name-wrapper">
                <div class="model-item">
                    <div [routerLink]="model._id">
                        <h2 class="modelLink">{{brand.name}} {{model.name}}</h2>
                    </div>
                    <div>
                        <img class="image" src="{{model.imageUrl}}">
                    </div>
                    <div>
                        <h2>Last Edited by: {{model.userId.username}}</h2>
                        <h5>Account created {{model.userId.created_at | accountAge}}!</h5>
                    </div>
                    <div class="model-buttons">
                        <!-- <button class="add-generation-btn" routerLink='/models/{{brand._id}}/add-model'>Add Generation</button> -->
                        <button [routerLink]="[model._id, 'edit']">Edit</button>
                        <button (click)="delete(model._id)" class="delete-btn">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>