<main>
    <div class="loader" *ngIf="isLoading">
        <app-loader />
    </div>
    <div *ngIf="!isLoading && brand" class="title">    
        <div class="noData" *ngIf="brand.models.length == 0">
            <h1>There are no models yet!</h1>
        </div>   
        <div *ngFor="let model of brand.models" class="container">
            <a [routerLink]="model._id" class="name-wrapper">
                <div class="name">
                    <div class="normal">
                        <h2>{{brand.name}} {{model.name}}</h2>
                    </div>
                    <div>
                        <img class="image" src="{{model.imageUrl}}">
                    </div>
                    <div>
                        <h2>Last Edited by: {{model.userId.username}}</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>