header {
    background: rgb(101, 0, 173);
    border: 2px solid black;
}

header ul {
    padding: 0;
    display: flex;
    align-items: center;
    width: 75%;
    margin: auto;
}

header li {
    list-style-position: inside;
    margin: .35em;
    padding: 0 .95em;
}

header a {
    text-decoration: none;
    cursor: pointer;
}

div a {
    color: rgb(101, 0, 173);
}

nav a {
    color: white;
}

nav {
    border: 2px solid black;
}

.logo {
    font-size: 1.3em;
    color: white;
    padding-bottom: 0;
}

.logo-wrap {
    font-family: 'Broadway', cursive;
    letter-spacing: .5em;
    margin: 0.5em 0;
}

.logo-wrap:hover {
    text-decoration: underline;
    text-decoration-color: white;
    cursor: pointer;
}

.mini-navbar ul {
    border: 2px solid black;
    border-radius: 0.3em;
    padding-left: 0;
    width: 100%;
    background-color: white;
}

.mini-navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}