<header>
    <div class="mini-navbar-wrap">
        <div (click)="navigate()" class="logo-wrap">
            <p class="logo"><span class="logo">Auto Info</span></p>
        </div>
        <div *ngIf="!isLoggedIn" class="mini-navbar">
            <ul>
                <li>
                    <a routerLink="/user/register">Register</a>
                </li>
                <li>
                    <a routerLink="/user/login">Login</a>
                </li>
            </ul>
        </div>
        <div *ngIf="isLoggedIn" class="mini-navbar">
            <ul>
                <li (click)="logout()">
                    <a>Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/brands/add-brand">Create Brand</a>
            </li>
            <li>
                <a href="#">Create Model</a>
            </li>
            <li>
                <a href="#">Create Generation</a>
            </li>
            <li>
                <a href="#">Create Specification</a>
            </li>
        </ul>
    </nav>

</header>