<main>
    <div class="loader" *ngIf="isLoading">
        <app-loader />
    </div>
    <div *ngIf="!isLoading" class="title">       
        <div *ngFor="let brand of brands" class="container">
            <a href="#" class="name-wrapper">
                <div class="name">
                    <div class="normal">
                        <h2>{{brand.name}}</h2>
                    </div>
                    <div>
                        <img class="image" src="{{brand.imageUrl}}">
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>