<div class="container">
    <div class="edit-generation-border">
        <div class="header-background">
            <span>Edit Generation</span>
        </div>
        <form #form="ngForm" (ngSubmit)="editGeneration(form)">
            <div class="edit-generation-prop">
                <label for="name">Generation name<span class="red">*</span></label>
                <input type="text" name="name" id="name" ngModel="{{generation.name}}" #inputGenerationName="ngModel" required>

                <ng-container>
                    <p class="error" *ngIf="inputGenerationName.errors?.['required']">
                        Generation name is required.
                    </p>
                </ng-container>

            </div>
            <div class="edit-generation-prop">
                <label for="imageUrl">Image Url<span class="red">*</span></label>
                <input type="text" name="imageUrl" id="imageUrl" ngModel="{{generation.imageUrl}}" #inputGenerationImageUrl="ngModel" required [appImageUrl]="imageURLRegEx">
                <ng-container>
                    <p class="error" *ngIf="inputGenerationImageUrl.errors?.['required']">
                        Image Url is required.
                    </p>
                    <p class="error" *ngIf="inputGenerationImageUrl.errors?.['imageValidator']">
                        Image Url must be valid.
                    </p>
                </ng-container>
            </div>
            <div class="edit-generation-prop">
                <label for="yearStarted">Generation Year Started<span class="red">*</span></label>
                <input type="number" name="yearStarted" id="yearStarted" ngModel="{{generation.yearStarted}}" #inputGenerationYearStarted="ngModel" required>

                <ng-container>
                    <p class="error" *ngIf="inputGenerationYearStarted.errors?.['required']">
                        Generation year started is required.
                    </p>
                </ng-container>

            </div>
            <div class="edit-generation-prop">
                <label for="yearAborted">Generation Year Aborted (optional)</label>
                <input type="number" name="yearAborted" id="yearAborted" ngModel="{{generation.yearAborted}}" #inputGenerationYearAborted="ngModel">
            </div>
            <div class="edit-generation-buttons">
                <button [disabled]="form.invalid">Edit</button>
            </div>
        </form>
    </div>
</div>